services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: ${APP_NAME}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        NEXT_PUBLIC_API_SUBFIX: ${NEXT_PUBLIC_API_SUBFIX}
        NEXT_PUBLIC_ACCESS_KEY_UNSPLASH: ${NEXT_PUBLIC_ACCESS_KEY_UNSPLASH}
        NEXT_PUBLIC_DICTIONARY_API_BASE_URL: ${NEXT_PUBLIC_DICTIONARY_API_BASE_URL}
        NEXT_PUBLIC_UNSPLASH_API_BASE_URL: ${NEXT_PUBLIC_UNSPLASH_API_BASE_URL}

    container_name: english-frontend
    restart: always
    ports:
      - "3000:3000"

    environment:
      - NODE_ENV=production

    networks:
      - app-network

networks:
  app-network:
    driver: bridge
